In [1]:
import pandas as pd

In [2]:
gyümölcsök_df = pd.DataFrame({
    'gyümölcs': ['alma', 'banán', 'narancs'],
    'darab': [3, 2, 5],
    'egységár': [200, 100, 150],
})

In [3]:
gyümölcsök_df

  gyümölcs  darab  egységár
0     alma      3       200
1    banán      2       100
2  narancs      5       150

In [4]:
type(gyümölcsök_df)

pandas.core.frame.DataFrame

In [5]:
gyümölcsök_csv_df = pd.read_csv('gyümölcsök.csv')

In [6]:
gyümölcsök_csv_df

  gyümölcs  darab  egységár
0     alma      3       200
1    banán      2       100
2  narancs      5       150

In [7]:
gyümölcsök_df['gyümölcs']

0       alma
1      banán
2    narancs
Name: gyümölcs, dtype: object

In [8]:
type(gyümölcsök_df['gyümölcs'])

pandas.core.series.Series

In [9]:
gyümölcsök_df.darab

0    3
1    2
2    5
Name: darab, dtype: int64

In [10]:
gyümölcsök_df[['gyümölcs', 'egységár']]

  gyümölcs  egységár
0     alma       200
1    banán       100
2  narancs       150

In [11]:
type(gyümölcsök_df[['gyümölcs', 'egységár']])

pandas.core.frame.DataFrame

In [12]:
gyümölcsök_df.index = ['A', 'B', 'C']
gyümölcsök_df

  gyümölcs  darab  egységár
A     alma      3       200
B    banán      2       100
C  narancs      5       150

In [13]:
gyümölcsök_df.loc['B']

gyümölcs    banán
darab           2
egységár      100
Name: B, dtype: object

In [14]:
type(gyümölcsök_df.loc['B'])

pandas.core.series.Series

In [15]:
gyümölcsök_df.iloc[2]

gyümölcs    narancs
darab             5
egységár        150
Name: C, dtype: object

In [16]:
gyümölcsök_df.loc['B', 'darab']

2

In [17]:
for index, elem in gyümölcsök_df.iterrows():
    print(index, elem['gyümölcs'], elem['darab'], elem['egységár'])

A alma 3 200
B banán 2 100
C narancs 5 150

In [18]:
gyümölcsök_df['összár'] = gyümölcsök_df['darab'] * gyümölcsök_df['egységár']
gyümölcsök_df

  gyümölcs  darab  egységár  összár
A     alma      3       200     600
B    banán      2       100     200
C  narancs      5       150     750

In [19]:
gyümölcsök_df[gyümölcsök_df['egységár'] > 120]

  gyümölcs  darab  egységár  összár
A     alma      3       200     600
C  narancs      5       150     750

In [20]:
gyümölcsök_df[(gyümölcsök_df['egységár'] > 120) & (gyümölcsök_df['összár'] < 700)]

  gyümölcs  darab  egységár  összár
A     alma      3       200     600

In [21]:
gyümölcsök_df.sort_values(by='egységár', ascending=False)

  gyümölcs  darab  egységár  összár
A     alma      3       200     600
C  narancs      5       150     750
B    banán      2       100     200

In [22]:
gyümölcsök_df = pd.DataFrame({
    'gyümölcs': ['alma', 'banán', 'narancs', 'alma', 'banán', 'alma'],
    'darab': [3, 2, 5, 4, -1, 1],
})
gyümölcsök_df

  gyümölcs  darab
0     alma      3
1    banán      2
2  narancs      5
3     alma      4
4    banán     -1
5     alma      1

In [23]:
gyümölcsök_df.groupby('gyümölcs').sum()

          darab
gyümölcs
alma          8
banán         1
narancs       5

In [24]:
gyümölcsök_df[gyümölcsök_df['darab'] > 0].groupby('gyümölcs').sum()

          darab
gyümölcs
alma          8
banán         2
narancs       5

In [25]:
gyümölcsök_darabszám_df = pd.DataFrame({
    'gyümölcs': ['alma', 'banán', 'narancs'],
    'darab': [3, 2, 5],
})
gyümölcsök_egységár_df = pd.DataFrame({
    'gyümölcs': ['alma', 'banán', 'narancs'],
    'egységár': [200, 100, 150],
})

In [26]:
pd.merge(gyümölcsök_darabszám_df, gyümölcsök_egységár_df, on='gyümölcs', how='inner')

  gyümölcs  darab  egységár
0     alma      3       200
1    banán      2       100
2  narancs      5       150