In [1]:
import pandas as pd
print(pd.__version__)

1.4.2

In [2]:
pd.Series([3, 2, 5])

0    3
1    2
2    5
dtype: int64

In [3]:
pd.Series(data=[3, 2, 5], index=['alma', 'banán', 'narancs'])

alma       3
banán      2
narancs    5
dtype: int64

In [4]:
import numpy as np
pd.Series(np.arange(10, 40, 10))

0    10
1    20
2    30
dtype: int32

In [5]:
pd.Series(data=[3, 2, 5], index=['alma', 'banán', 'narancs']) + \
pd.Series(data=[2, 3, 4], index=['alma', 'banán', 'narancs'])

alma       5
banán      5
narancs    9
dtype: int64

In [6]:
pd.Series(data=[3, 2, 5], index=['alma', 'banán', 'narancs']) + \
pd.Series(data=[2, 3, 4], index=['alma', 'meggy', 'banán'])

alma       5.0
banán      6.0
meggy      NaN
narancs    NaN
dtype: float64